<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>music player try</title>
        <link rel="stylesheet" href="./css/index.css">
    </head>
    <body>
        <div class="wrap">
            <!-- main region of player -->
            <div class="play_wrap" id="player">
                <div class="search_bar">
                    <img src="images/player_title_babe.png" alt="" />
                    <!-- search songs -->
                    <input type="text" autocomplete="off" v-model="query"
                    @keyup.enter="searchMusic();" />
                </div>
                <div class="center_con">
                    <!-- search song list -->
                    <div class="song_wrapper">
                        <ul class="song_list">
                            <li v-for="item in musicList">
                                <a href="javascript:;" @click='playMusic(item.id)'></a>
                                <b>{{item.name}}</b>
                                <span><i></i></span></li>
                        </ul>
                        <img src="images/line.png" class="switch_btn" alt="">
                    </div>
                    <!-- container for song's info -->
                    <div class="player_con">
                    <img src="images/player_bar.png" class="play_bar" alt="play_bar" />
                    <!-- vinyl -->
                    <img src="images/disc.png" class="disc autoRotate" />
                    <img src="images/cover.png" class="cover autoRotate" alt="">
                    </div>
                </div>
                <!-- play audio of the song -->
                <div class="audio_con">
                    <!-- is the :src must be placed in this order? -->
                    <audio ref="audio" @play="play" @pause="pause" :src="musicUrl" controls autoplay loop class="myaudio"></audio>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="./js/maintry.js"></script>
    </body>
</html>

<!--Notes:
    1.歌曲搜索 按下回车v-on .enter 
    服务器返回数据比较复杂时 要注意层级结构
    通过审查元素快速定位到元素
    2.查询数据axios接口调用 v-model 
    3.渲染数据 v-for 数组 that
    that:涉及回调函数中this改变的问题
    Main goals: 歌曲搜索 歌曲播放 歌曲封面 歌曲评论 播放动画 MV播放 -->